.git
.github
.gitignore
.editorconfig
.env
.env.backup
.env.production
.env.example
.claude
.fleet
.idea
.vscode
.phpunit.cache
.phpunit.result.cache

node_modules
vendor

tests
phpunit.xml

postman

docker-compose*.yml
Dockerfile
README.md
